@charset "UTF-8";

main {
	padding: 10px;
	background-color: transparent;
}

.inputform {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 20px 15px;
	background: white;
}

.error {
	margin-top: 15px;
	color: red;
	display: inline-block;
	border-bottom: 2px double red;
	text-align: center;
}

fieldset {
	border: 1px solid #a0a0a0;
	padding: 10px 15px;
	border-radius: 10px;
}


.input-container {
	position: relative;
}

.inputform input {
	padding-right: 30px;
}

/* 入力欄の右側に目のアイコンを配置するための設定 */
#eye-icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 1;
	height: calc(100% - 10px);
}

.inputform fieldset:focus-within {
	outline: none;
}

.inputform input {
	width: 100%;
	padding: 3px 30px 3px 2px;
	line-height: 1.5;
}


.inputform label {
	margin-bottom: 10px;
}

.inputform button {
	float: right;
	padding: 5px 10px;
	margin-top: 10px;
	cursor: pointer;
}

b {
	color: red;
}

input[type="checkbox"] {
	width: 2%;
	display: inline-block;
	vertical-align: middle;
}

label[for="agree"] {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 4px;
	text-decoration: underline;
	text-align: center;
}

.disclaimer {
	margin-top: 20px;
}